main{
    text-align: center;
    font-size: 1.3em;
}

.page-height {
    height: 92vh;
}

.full-height {
    height: 100vh;
}

#page-overview {
    background-color: rgba(162, 167, 172, 0.61);
}

.page-title {
    background-color: rgba(49, 14, 3, 0.77);
    height: 100%;
    color: white;
}

.page-content {
    height: 100%;
    color: black;
}

@media (max-width: 991px) {
    .page-height {
        height: 92vh;
    }

    .page-title h1 {
        font-size: 2.9rem;
        font-weight: normal;
    }
}

@media (min-width: 992px) {
    .page-title h1 {
        font-size: 5rem;
        font-weight: normal;
    }
}

@media (min-width: 576px) {
    .page-title {
        border-radius: 0 33% 33% 0;
        background-color: rgba(49, 14, 3, 0.77);
        height: 100%;
        color: white;
    }
}

@media (max-width: 575px) {
    .page-height {
        height: 100vh;
    }

    .page-title {
        height: 20vh;
        border-radius: 0 0 33% 33%;
    }

    .page-title h1 {
        font-size: 3.5rem;
        font-weight: normal;
        letter-spacing: 0.5rem;
    }

    .page-content {
        height: 100vh;
    }
}