.w-33 {
    width: 33%;
}

.w-67 {
    width: 67%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.module {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.my-fade {
    position: relative;
    height: 4.3em;
}

.my-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    flex-shrink: 0;
}

.navbar-brand {
    font-size: 2em;
}

.navbar .active {
    background-color: #65737e;
    border-radius: 10px;
}

#navbarNavDropdown {
    margin-left: 30px;
}

.navbar-nav li {
    margin-left: 20px;
}

main {
    flex: 1 0 auto;
}

#authentication-link {
    font-size: 1em;
}

.footer {
    background-color: #1b1e21;
    color: #cdcdcd;
    padding: 17px 0 18px 0;
    border-top: 1px solid black;
    flex-shrink: 0;
}

#brand {
    letter-spacing: 0.1em;
}