.card {
    border-radius: 0;
}

.card-header, .card-footer {
    background-color: #e4e0e3;
    border-radius: 0 !important;
}

.card-header:hover {
    cursor: pointer;
}

.card-header:hover .title {
    color: #919aa1 !important;
}

.title, .sub-title {
    font-weight: bold !important;
}

.title {
    font-size: 1.8em;
    letter-spacing: 0.1em;
}

.sub-title {
    color: #6c757d;
}

.card-header:hover .sub-title {
    color: #bdc3c7 !important;
}

.sub-title {
    font-size: 1.2em;
}

.embed-responsive {
    width: 75%;
    margin-bottom: 10px;
}

.card-text {
    text-indent: 15px;
    font-size: 1.1em;
}

@media (max-width: 575px) {
    .embed-responsive {
        width: 100%;
    }

    .card-text {
        text-align: justify;
    }
}