.article-header, .article-footer {
    background-color: #dfdfe2;
}

h1 {
    font-size: 3em;
    line-height: 90%;
}

h2 {
    font-size: 1.6em;
}

.embed-responsive {
    width: 60%;
}

.embed-responsive {
    margin: 20px 0;
}

p {
    font-size: 1.4em;
}

.article-footer {
    font-size: 1.3em;
    font-family: URW Gothic L, sans-serif;
}

@media (max-width: 767px) {
    .embed-responsive {
        width: 100%;
    }
}